*{
  
}

h1, h2, h3, h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(260, 180, 120); 
}

p{
    font-family: ;
    color: rgb(276, 276, 200);
}

li {
    color: rgb(276, 276, 200);
}

a{
    color:rgb(260, 200, 150);
}

ul{
color: white;  
}

div {

}

body{
    background-color: rgb(30, 30, 30);
}

hr{
    color: white;
}

#maindiv{
    width: 49%;
    float: left;
    margin-top: 50px;
    margin-left:2%;
    TEXT-ALIGN:left;
    padding-top: 10px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 20px;
}

#imagediv{
    width: 45%;
    float: right;
    margin-top: 50px;
    TEXT-ALIGN:center;
}

blockquote{
    color:rgb(250,190,80)
}

    table, td, th{
        border: 1px solid black;
        text-align: center;
        border-collapse: collapse;
    }
    th{
        background-color: rgb(200,100,20);
        color: rgb(275,270,200)
    }

    .green1{
        background-color: rgb(250,210,100);
    }

    .green2{
        background-color: rgb(260,230,150);;
    }

    .green3{
        background-color: rgb(276,200,70);
    }