*{
    background-image: url();
}
h1, h2, h3, h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(260, 180, 120); 
}
p{
    font-family: ;
    color: rgb(276, 276, 200);
}
li {
    color: rgb(276, 276, 200);
}
a{
    color:rgb(260, 200, 150);
}
ul{
color: white;  
}
div {

}
body{
    background-color: rgb(30, 30, 30);
}
hr{
    color: white;
}
#maindiv{
    width: 49%;
    float: left;
    margin-top: 50px;
    margin-left:2%;
    TEXT-ALIGN:left;
    padding-top: 10px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 20px;
}
#imagediv{
    width: 45%;
    float: right;
    margin-top: 50px;
    TEXT-ALIGN:center;
}
blockquote{
    color:rgb(250,190,80)
}