body{
    margin: 0;
    padding: 0;
  }
  .topbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: black;
    transition: .5s;
  }
  section{
    width: 100%;
    height: 100vh;
  }