*{
    font-family:'garamond', serif ;}

body{
    color:rgb(120,150,110);
    
    background-image: url('../files/grey-leaves.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;}

table{
    float:left;
    margin-left: 90px;
    margin-right: 90px;
    border-spacing: 10px;
    color: rgb(80,80,80);
    background-opacity: 0.8;}

table p{
    padding: 10px;
    text-decoration: italic;
}

th{
    font-size:30pt;
    background-color: rgb(80,80,80);
    font-weight: 2000;
    color:rgb(140,170,130);}

td{
    background-color:rgb(120,150,110)}
a{
    color:rgb(140,170,160)}

img,video,audio{
    max-width: 400px;
    padding:25px;}

.img{ }

.vid{ color:rgb(100,130,100)}

.aud{ }

#sources{
    margin: left 100px;}
