body{
    background-color: white;
    color: rgb(64,64,64);
    font: garamond;
        
}
h1,h2,h3,h4,h5,h6{
    color: #A4A400;
    background-color:#F0F0F0;
    text-decoration:underline;
    font: arial;
}

h1{
    text-align=center;
    font-weight: bold;
    font-size: 22pt;
}

h2{
    font-size: 18pt;
    
}

a{
    color:
}

.comment{
    
}

.tooltip{
    position: relative;
    border-bottom: 1px dashed #000;
}

